<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Hello, World Application</display-name>
  <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>net.rhinokul.Main</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpenView</servlet-name>
    <servlet-class>net.rhinokul.OpenView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpenAccount</servlet-name>
    <servlet-class>net.rhinokul.OpenAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteView</servlet-name>
    <servlet-class>net.rhinokul.DeleteView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>net.rhinokul.DeleteAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepositView</servlet-name>
    <servlet-class>net.rhinokul.DepositView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepositAmount</servlet-name>
    <servlet-class>net.rhinokul.DepositAmount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithdrawView</servlet-name>
    <servlet-class>net.rhinokul.WithdrawView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithdrawAmount</servlet-name>
    <servlet-class>net.rhinokul.WithdrawAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenView</servlet-name>
    <url-pattern>/OpenView/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenAccount</servlet-name>
    <url-pattern>/OpenAccount/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteView</servlet-name>
    <url-pattern>/DeleteView/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepositView</servlet-name>
    <url-pattern>/DepositView/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepositAmount</servlet-name>
    <url-pattern>/DepositAmount/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithdrawView</servlet-name>
    <url-pattern>/WithdrawView/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithdrawAmount</servlet-name>
    <url-pattern>/WithdrawAmount/*</url-pattern>
  </servlet-mapping>
</web-app>